:root {
  --white: #ffffff;
  --white-on-color: #fff;
  --black: #000000;
  --border: #e9e9e9;
  --icon-primary: #626262;
  --text-primary: #313131;

  --opacity: 0.3;

  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;

  --size-xs: 12px;
  --size-sm: 14px;
  --size-base: 16px;
  --size-lg: 18px;
  --size-xl: 20px;
}
