.button {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: var(--spacing-sm);
  padding: var(--spacing-md) var(--spacing-lg);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;

  span {
    color: var(--text-primary);
  }

  svg path {
    fill: var(--icon-primary);
  }

  &:hover {
    background-color: var(--black);
    border: 1px solid var(--black);

    span {
      color: var(--white-on-color);
    }
    svg path {
      fill: var(--white-on-color);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity);
  }
}
