.pagination {
  display: flex;
  gap: calc(var(--spacing-xs) * 3);
}
.active {
  background-color: var(--black) !important;
  border: 1px solid var(--black) !important;

  outline: 1px solid var(--black);
  outline-offset: var(--spacing-xs);

  span {
    color: var(--white-on-color) !important;
  }
}
.rotate {
  rotate: 180deg;
}
